.input{
  height:40px;
  width: 200px;
  background-color: aqua;
  border: 2px solid red;
  border-radius: 7px;
  
}
.button{
  margin-left: 10px;
  background-color: brown;
  height: 30px;
  color: chartreuse;
  border: 3px solid green;
  border-radius: 10px;
}
.head{
  color: deeppink;
  border: 3px solid green;
  width: 100px;
  border-radius: 7px;
}